.container {
  width: 380px;
  height: 640px;
  border-radius: 5px;
  background-color: #b2c7da;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.status_bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: #9aadbc;
}

.menu {
  width: 340px;
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  font-weight: bold;
  font-size: 15px;
  align-items: center;
  /* position: fixed;
  z-index: 10; */
  background-color: #b2c7da;


  img {
    height: 20px;
  }
}

.icons {
  display: flex;
  gap: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    cursor: pointer;
  }
}

.receive_message,
.send_message {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.send_message {
  flex-direction: row-reverse;
  margin-left: 0px;
  margin-right: 10px;

  .speech_bubble {
    background-color: #fce833;
  }
}

.speech_bubble {
  /* width: 60px; */
  height: 35px;
  padding: 0px 10px;
  background-color: #fff;
  border-radius: 14px;
  margin-top: 5px;
  text-align: center;
  line-height: 35px;
}

.chatInput {
  /* width: 300px; */
  position: absolute;
  bottom: 0;

  input {
    width: 320px;
    height: 26px;
    padding: 7px 10px;
    border: none;
    font-size: 16px;
    font-family: 'Pretendard Variable';
  }

  button {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fce833;
    line-height: 10px;

    img {
      height: 23px;
    }
  }
}