.product_list_container {
  width: 1050px;
  height: 3132px;
  /* background: green; */
  margin: auto;
  /* border: 1px solid black; */
}

.product_list_title {
  /* border: 1px solid black; */
  text-align: center;
  margin: 48px 0;
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 21.328px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.product_list_sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  width: 783px;
  height: 44px;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.product_list_sort div {
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.product_list_sort ul {
  display: flex;
  gap: 16px;
  color: var(--gray-300, #A6A6A6);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.product_list_sort li {
  cursor: pointer;
}

.product_list_sort li:first-child {
  color: var(--content, #333);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.Product_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 783px;
  height: auto;
  margin: auto;
  /* border: 1px solid black; */
}

.pagination {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}